*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color:#00613C  ;
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  ul{
  list-style: none;
  }
  
  header{
    padding: 32px 0;
    text-align: center;
  }
  
  
  header , section{
    max-width: 300px;
    margin: 0 auto;
  }
  
  section{
    margin-bottom: 24px;
    
  }
  section h2{
    background-color: #870A28;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
  }
  
  ul il, strong{
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details{
    max-width: 240px;
    
  }
  
  header h1{
    margin-bottom: 4px;
  }
  
  .details h3{
    margin-bottom: 8px;
  }
  span{
    color: rgb(231, 231, 8);
  }
  
  .description{
    font-style: italic;
  }

  .logo{
    background-color: #00613C;
    

  }
  